{
    "extends": "eslint:recommended",
    "rules": {
        /*"no-plusplus": "error",*/
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "no-var": "error",
        "eqeqeq": "error"
    },
    "env": {
        "browser": true,
        "es6": true
    }
}