header {
    font-size: 1.5em;


}

section {
    font-size: larger;
    line-height: 1.5em;
}

h3 {
    text-shadow: 2px 2px 2px rgb(121, 121, 122);
    font-size: 1.5em;
}

a {
    font-size: 1.25em;
    margin-bottom: 12em;
}
